body,
html {
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

.top-section-warpper {
  overflow: hidden;
  background-color: #001D37;
  padding-left: 16px;
  padding-right: 16px;
}

.top-section {
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 1066px;
  margin: 0 auto;
  position: relative;
}

.actual-top-content {
  z-index: 2;
  position: relative;
}

.our-btn {
  display: inline-block;
  font-weight: bold;
  background-color: #475AFF;
  border: 1px solid #475AFF;
  color: #fff;
  text-decoration: none;
  padding: 14px 25px;
  border-radius: 1000px;
  transition: background-color .3s ease-out, border .3s ease-out, color .3s ease-out;
}

.our-btn:hover {
  background-color: #2937b2;
  border: 1px solid #2937b2;
}

.manage-btn {
  background-color: transparent;
  border: 2px solid #fff;
}

.manage-btn:hover {
  color: #2937b2;
  background-color: white;
  border: 2px solid white;
}

.top-section h1 {
  font-size: 4rem;
  margin: 0;
  line-height: 97.3%;
  max-width: 525px;
}


.intro-text {
  font-size: 1.125rem;
  line-height: 169.3%;
  margin: 1rem 0;
  max-width: 435px;
}

.intro-buttons {
  margin-bottom: 70px;
}

.view-btn {
  margin-right: 10px;
}

.intro-feature {
  padding: 33px 25px;
  border: 1px solid rgba(255, 255, 255, 0.24);
}

.intro-feature h2 {
  font-size: 1.5rem;
  margin: 31px 0 3px 0;
}

.intro-feature p {
  margin: 0;
  font-size: 1.0625rem;
}

.intro-features {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
}

@media screen and (min-width: 580px) {
  .intro-features {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .intro-features {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.circle {
  width: 617px;
  height: 617px;
  background-color: #D660FF;
  opacity: .85;
  border-radius: 50%;
  filter: blur(150px);
  position: absolute;
  top: 62px;
  right: -390px;
}

.circle-two {
  width: 617px;
  height: 617px;
  background-color: #6079FF;
  opacity: .85;
  border-radius: 50%;
  filter: blur(150px);
  position: absolute;
  top: -365px;
  left: -123px;
}

.pet-area {
  padding: 70px 16px;
  background-color: #ffff;
}

.pet-inner-area {
  margin: 0 auto;
  max-width: 1066px;
}

.pet-area-title {
  font-size: 4rem;
  margin: 0;
  line-height: 1;
}

.fillter-area {
  color: #9F9F9F;
  font-size: 1.15rem;
}

.fillter-area button {
  background: transparent;
  border: none;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.15rem;
  color: #9F9F9F;
}

.footer-area p {
  text-align: center;
  font-size: 0.875rem;
  padding: 0 0 65px 0;
  color: #A6A6A6;
}

.pet-cards-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  column-gap: 34px;
  row-gap: 16px;
}

.pet-card {
  overflow: hidden;
  display: grid;
  grid-template-columns: 165px 1fr;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.08);
}

.pet-picture {
  order: 1;
  grid-row: 1;
}

.pet-picture img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.pet-card-text {
  padding: 18px 16px;
}

.pet-card-text h3 {
  margin: 0 0 5px 0;
  font-size: 26px;
  font-weight: 600;
}

.pet-detail {
  font-size: .9rem;
  color: #626262;
  margin: 0;
  line-height: 150%;
}

.pet-age {
  color: #a2a2a2;
}

@media screen and (min-width: 600px) {
  .pet-detail {
    font-size: 1rem;
  }

  .pet-card-text {
    padding: 21px 29px;
  }

  .pet-cards-area {
    row-gap: 28px;
  }

  .fillter-area {
    font-size: 1.375rem;
  }

  .fillter-area button {
    font-size: 1.375rem;
  }

  .pet-area-title {
    font-size: 5.31rem;
  }

  .pet-area {
    padding: 130px 16px;
  }

  .intro-buttons {
    margin-bottom: 129px;
  }

  .top-section h1 {
    font-size: 6.25rem;
  }

  .top-section {
    padding-top: 139px;
    padding-bottom: 139px;
  }
}